<div class="container px-4 mt-3">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light"> <a href="/issuer">Issue Credential</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light"> <a href="/verifier">Verify Credential</a>
      </div>
    </div>
  </div>
</div>